{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class='col coll-4'>
        <img src="https://steamuserimages-a.akamaihd.net/ugc/1676988590204792260/EA31EB30D4B962E9732DE2F0DC556D8267920315/?imw=512&&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false" class="card-img-top" alt="...">
    </div>
    <div class="col col-8">
        <div class="d-flex">
            <div>8342 naxvi </div>
            <div class="ms-5"> 01/12/32</div>
        </div>
        <div class="card-body">
            <h3 class="card-title">Product name</h3>
            <p class="fa-bold card-text">15$</p>
            <p class="card-text">Shimi shimi ya shimi ya shimi yaa</p>
        </div>
    </div>
</div>
{% endblock %}